body {
    font-family: Arial, sans-serif;
    background-color: #727272;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
    background: #0000007c;
    padding: 20px;
    padding-left: 50px;
    scroll-padding-block: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.26);
    border: 5px double #905fe7;
    border-radius: 30px;
    
}

h1 {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    border-radius: 25px;
    align-content: center;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 17px;
    width: 305px;
    height: 15px;
    padding: 12px;
    border: 3px solid yellow;
    background: yellow;
    margin-bottom: -15px;
}

form {
    display: block;
    margin: 10px 0 5px;
    text-align: center;
    font-size: 15px;
    background: #000000;
    width: 300px;
    padding: 12px;
    border: 5px double #a674ff;
    border-radius: 15px;
    color: #fffefe;
    font-family: 'Courier New', Courier, monospace;
}

form input {
    width: 50%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    background: #ab30f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #e938cb;
}

.graficos{
    background: #ffffff;
    width: 70%;
    padding: 10px;
}
#process-list {
    list-style-type: none;
    padding: 0;
}

#process-list li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#gantt-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #ffffff;
}

#gantt-table th, #gantt-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#gantt-table th {
    background: #444;
    color: white;
}

#gantt-table td {
    width: 30px;
    height: 30px;
}

/* Cores do Gantt */
.executing { background-color: rgb(198, 137, 255); } /* Lilás - Execução */
.waiting { background-color: yellow; }  /* Amarelo - Espera */
.overhead { background-color: pink; }   /* Rosa - Sobrecarga */
.not-in-queue { background-color: rgb(150, 150, 150); } /* Cinza - Fora da fila */
